h1,
h2,
h3 {
  font-weight: bold !important;
}

p {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

thead {
  background-color: var(--md-primary-fg-color) !important;
  color: #fff !important;
}

code {
  font-family: "Source Code Pro", monospace !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

table pre {
  margin: 0 !important;
}