.twemoji {
  box-shadow: none !important;
  width: auto !important;
}

.md-typeset code {
  font-size: 1em !important;
}

.md-typeset .md-code__content {
    display: block !important;
}

.md-grid {
  max-width: 65rem !important;
}

/* ------ table 設定 ------ */
.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
  border: 1px solid hsla(200, 18%, 26%, 1);
}

.md-typeset table:not([class]) th {
  padding: 0.9375em 0.5em !important;
}

.md-typeset table:not([class]) td {
  padding: 0.9375em 0.5em !important;
}

.md-typeset__scrollwrap {
  margin: 0 -0.8rem;
}

/* -------tabs----------- */
.tabbed-content {
  padding: 1em 1em;
  box-shadow: 0 2px 2px hsla(200, 18%, 26%, 1);
  border: 0.05rem solid var(--md-typeset-table-color);
}

input:first-child:checked ~ .tabbed-labels > :first-child,
input:nth-child(10):checked ~ .tabbed-labels > :nth-child(10),
input:nth-child(11):checked ~ .tabbed-labels > :nth-child(11),
input:nth-child(12):checked ~ .tabbed-labels > :nth-child(12),
input:nth-child(13):checked ~ .tabbed-labels > :nth-child(13),
input:nth-child(14):checked ~ .tabbed-labels > :nth-child(14),
input:nth-child(15):checked ~ .tabbed-labels > :nth-child(15),
input:nth-child(16):checked ~ .tabbed-labels > :nth-child(16),
input:nth-child(17):checked ~ .tabbed-labels > :nth-child(17),
input:nth-child(18):checked ~ .tabbed-labels > :nth-child(18),
input:nth-child(19):checked ~ .tabbed-labels > :nth-child(19),
input:nth-child(2):checked ~ .tabbed-labels > :nth-child(2),
input:nth-child(20):checked ~ .tabbed-labels > :nth-child(20),
input:nth-child(3):checked ~ .tabbed-labels > :nth-child(3),
input:nth-child(4):checked ~ .tabbed-labels > :nth-child(4),
input:nth-child(5):checked ~ .tabbed-labels > :nth-child(5),
input:nth-child(6):checked ~ .tabbed-labels > :nth-child(6),
input:nth-child(7):checked ~ .tabbed-labels > :nth-child(7),
input:nth-child(8):checked ~ .tabbed-labels > :nth-child(8),
input:nth-child(9):checked ~ .tabbed-labels > :nth-child(9) {
  color: var(--md-primary-fg-color);
  background-color: var(--md-default-bg-color);
  box-shadow: 0 2px 2px hsla(200, 18%, 26%, 1);
}

.md-typeset .tabbed-labels > label {
  background-color: var(--md-primary-fg-color);
  color: var(--md-default-bg-color);
}

.md-typeset .tabbed-labels > label:hover {
  color: var(--md-default-bg-color);
}

.js .md-typeset .tabbed-labels {
  box-shadow: 0 2px 2px hsla(200, 18%, 26%, 1);
  border: 0.05rem solid var(--md-typeset-table-color);
}

.md-typeset .tabbed-control {
  background: linear-gradient(to right, var(--md-primary-fg-color) 60%, #0000);
}

.md-typeset .tabbed-button {
  color: var(--md-default-bg-color--light);
}
