/* ----------svg---------- */

.img-to-svg {
    padding: 24px;
    background: var(--md-default-bg-color--light);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(22, 30, 50, 0.04);
    border: 1px solid #cdd9ed;
    text-align: center;
}

/* ----------breadcrumb---------- */

.breadcrumb {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    scroll-padding: 0 100%;
    margin-right: 5rem;
    margin-bottom: 1rem;
    font-size: 0.8em;
}

.breadcrumb::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.breadcrumb::-webkit-scrollbar-thumb {
    background-color: rgba(137, 137, 137, 0.197);
    border-radius: 6px;
}

.breadcrumb::-webkit-scrollbar-thumb:hover {
    background-color: rgba(137, 137, 137, 0.5);
}

.breadcrumb::-webkit-scrollbar-track {
    background-color: transparent;
}

/* ------------print-site------------- */

.print-site-enumerate-figures label {
    background-color: var(--md-primary-fg-color) !important;
    color: var(--md-default-bg-color) !important;
}

.print-site-enumerate-figures figcaption:before {
    content: "" !important;
}

.print-site-enumerate-figures h1 {
    text-align: center !important;
}

@media print {

    @page {
        size: portrait;
        size: landscape;
        size: A4;
        size: A4 portrait;
        margin: 1em;
    }

    img[src$="#only-dark"],
    img[src$="#gh-dark-mode-only"] {
        display: none;
    }

    .md-typeset .tabbed-set {
        page-break-inside: auto !important;
    }

    .exclude-from-print {
        display: none !important;
    }

    new-page {
        display: block;
        break-before: page;
    }

    .breadcrumb {
        display: none !important;
    }
}